<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <title>Trainning Model</title>
</head> 
<body>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-overlay alert-{{ category }} hidden">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <section id="sidebar">
        <a href="" class="brand">
            <i class='bx bxs-smile'><img src="{{ url_for('static', filename='herbs_icon01.png') }}" class="icon-mini" alt="Menu Icon"></i>
			<span class="text">Mongo</span>
		</a>
		<ul class="side-menu top">
			<li>
				<a href="">
					<i class='bx bxs-dashboard' ><img src="{{ url_for('static', filename='dashboard.png') }}" class="icon-mini" alt="Menu Icon"></i>
					<span class="text">แดชบอร์ด</span>
				</a>
			</li>
            <li>
				<a href="{{ url_for('manage_members') }}">
					<i class='bx bxs-shopping-bag-alt' ><img src="{{ url_for('static', filename='group.png') }}" class="icon-mini" alt="Menu Icon"></i>
					<span class="text">จัดการสมาชิก</span>
				</a>
			</li>
			<li>
				<a href="{{ url_for('manage_herbals') }}">
					<i class='bx bxs-shopping-bag-alt' ><img src="{{ url_for('static', filename='leaf_01.png') }}" class="icon-mini" alt="Menu Icon"></i>
					<span class="text">จัดการยาสมุนไพร</span>
				</a>
			</li>
			<li>
				<a href="">
					<i class='bx bxs-doughnut-chart' ><img src="{{ url_for('static', filename='medicine.png') }}" class="icon-mini" alt="Menu Icon"></i>
					<span class="text">จัดการข้อมูลยา</span>
				</a>
			</li>
			<li>
				<a href="">
					<i class='bx bxs-doughnut-chart' ><img src="{{ url_for('static', filename='prevent.png') }}" class="icon-mini" alt="Menu Icon"></i>
					<span class="text">จัดการข้อมูลโรคและอาการ</span>
				</a>
			</li>
            <li>
				<a href="">
					<i class='bx bxs-doughnut-chart' ><img src="{{ url_for('static', filename='no-milk.png') }}" class="icon-mini" alt="Menu Icon"></i>
					<span class="text">จัดการข้อมูลการแพ้</span>
				</a>
			</li>
            <li class="active">
				<a href="{{ url_for('manage_trains') }}">
					<i class='bx bxs-doughnut-chart' ><img src="{{ url_for('static', filename='database.png') }}" class="icon-mini" alt="Menu Icon"></i>
					<span class="text">จัดการข้อมูล Training</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">
			<li>
				<a href="{{ url_for('logout') }}" class="logout">
					<i class='bx bxs-log-out-circle' ><img src="{{ url_for('static', filename='logout.png') }}" class="icon-mini" alt="Menu Icon"></i>
					<span class="text">ออกจากระบบ</span>
				</a>
			</li>
		</ul>

    </section>


    <section id="content">
<!-- NAVBAR -->
<nav>
    <!-- เมนูไอคอนอยู่ชิดซ้าย -->
    <i class='bx bx-menu'>
        <img src="{{ url_for('static', filename='menu-regular-24.png') }}" alt="Menu Icon">
    </i>

	<div class="marquee-container">
        <div class="marquee">
            <p style="color: rgb(161, 193, 226);">เป็นเพียงการให้ความรู้เกี่ยวกับยาสมุนไพร โดยอ้างอิงข้อมูลจาก NLEM:บัญชียาหลักแห่งชาติ (ฉบับที่ 2) พ.ศ. 2555 ประกาศ ณ วันที่ 21 สิงหาคม พ.ศ. 2555 เท่านั้น ไม่ใช่การรักษาโรคแต่อย่างใด หากป่วยควรพบแพทย์ผู้เชี่ยวชาญเพื่อรับการรักษาต่อไป</p>
        </div>
    </div>

</nav>
<!-- NAVBAR -->

<!-- MAIN -->
<main>

	<div class="head-title">
        <div class="left">
            <h2>Trainning Model</h2>
            <ul class="breadcrumb">
                <li>
                    <a href="{{ url_for('manage_trains') }}">จัดการข้อมูล</a>
                </li>
				<li><i class='bx bx-chevron-right' ></i></li>
                <!-- <li>
                    <a class="active" href="">แก้ไขข้อมูล</a>
                </li> -->
            </ul>
        </div>

    </div>

    <div>
        <div class="content">
            <div class="text-container">
                <h2 style="align-items: center;">แก้ไขข้อมูล</h2>
                <!-- <h4>หมวดหมู่: <span style="color: var(--blue);">หน้ามืด วิงเวียน</span></h4> -->
            </div>
        </div>

    </div>

    <form action="{{ url_for('edit_trains', train_id=train['_id']) }}" method="POST">

        <label for="Age">อายุ&nbsp;</label>
        <input type="int" id="Age" name="Age" value="{{ train['Age'] }}">
        &nbsp;&nbsp;&nbsp;

        <input type="checkbox" id="pregnant" name="pregnant" value="1" value="{{ train['pregnant'] }}">
        <label for="pregnant">ตั้งครรภ์</label>
        &nbsp;&nbsp;&nbsp;

        {% if selected_herbal %}
            <label for="hm_id">ยาสมุนไพร : {{ selected_herbal['hm_id'] }} - {{ selected_herbal['hm_name'] }}</label>
        {% else %}
            <p>ไม่พบข้อมูลยาสมุนไพร</p>
        {% endif %}
        
        <br><br>

        <table>
            <tr>
                <td>
                    <input type="checkbox" id="dizziness1" name="dizziness1" value="1" {% if train['dizziness1'] == 1 %}checked{% endif %}>
                    <label for="dizziness1">เวียนหัว</label>
                </td>
                <td>
                    <input type="checkbox" id="flatulence" name="flatulence" value="1" {% if train['flatulence'] == 1 %}checked{% endif %}>
                    <label for="flatulence">ท้องอืด ท้องเฟ้อ</label>
                </td>
                <td>
                    <input type="checkbox" id="menstruation" name="menstruation" value="1" {% if train['menstruation'] == 1 %}checked{% endif %}>
                    <label for="menstruation">ประจำเดือนมาไม่สม่ำเสมอ</label>
                </td>
                <td>
                    <input type="checkbox" id="fever1" name="fever1" value="1" {% if train['fever1'] == 1 %}checked{% endif %}>
                    <label for="fever1">ไข้</label>
                </td>
                <td>
                    <input type="checkbox" id="body_aches" name="body_aches" value="1" {% if train['body_aches'] == 1 %}checked{% endif %}>
                    <label for="body_aches">ปวดเมื่อยตามร่างกาย</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" id="Palpitations" name="Palpitations" value="1" {% if train['Palpitations'] == 1 %}checked{% endif %}>
                    <label for="Palpitations">ใจสั่น ใจหวิว</label>
                </td>
                <td>
                    <input type="checkbox" id="stomach_ache" name="stomach_ache" value="1" {% if train['stomach_ache'] == 1 %}checked{% endif %}>
                    <label for="stomach_ache">ปวดท้อง</label>
                </td>
                <td>
                    <input type="checkbox" id="Menstrual_cramps" name="Menstrual_cramps" value="1" {% if train['Menstrual_cramps'] == 1 %}checked{% endif %}>
                    <label for="Menstrual_cramps">ปวดประจำเดือน</label>
                </td>
                <td>
                    <input type="checkbox" id="inner_heat" name="inner_heat" value="1" {% if train['inner_heat'] == 1 %}checked{% endif %}>
                    <label for="inner_heat">ร้อนใน</label>
                </td>
                <td>
                    <input type="checkbox" id="tendon" name="tendon" value="1" {% if train['tendon'] == 1 %}checked{% endif %}>
                    <label for="tendon">ปวดตามเส้นเอ็น</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" id="squeamish" name="squeamish" value="1" {% if train['squeamish'] == 1 %}checked{% endif %}>
                    <label for="squeamish">คลื่นไส้</label>
                </td>
                <td>
                    <input type="checkbox" id="constipation1" name="constipation1" value="1" {% if train['constipation1'] == 1 %}checked{% endif %}>
                    <label for="constipation1">ท้องผูก</label>
                </td>
                <td>
                    <input type="checkbox" id="postpartum_woman" name="postpartum_woman" value="1" {% if train['postpartum_woman'] == 1 %}checked{% endif %}>
                    <label for="postpartum_woman">หญิงหลังคลอด</label>
                </td>
                <td>
                    <input type="checkbox" id="Measles" name="Measles" value="1" {% if train['Measles'] == 1 %}checked{% endif %}>
                    <label for="Measles">พิษหัด</label>
                </td>
                <td>
                    <input type="checkbox" id="Tight_numb" name="Tight_numb" value="1" {% if train['Tight_numb'] == 1 %}checked{% endif %}>
                    <label for="Tight_numb">กล้ามเนื้อมือ เท้า ตึงหรือชา</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" id="vomit" name="vomit" value="1" {% if train['vomit'] == 1 %}checked{% endif %}>
                    <label for="vomit">อาเจียน</label>
                </td>
                <td>
                    <input type="checkbox" id="diarrhea1" name="diarrhea1" value="1" {% if train['diarrhea1'] == 1 %}checked{% endif %}>
                    <label for="diarrhea1">ท้องเสีย</label>
                </td>
                <td>
                    <input type="checkbox" id="Lochia" name="Lochia" value="1" {% if train['Lochia'] == 1 %}checked{% endif %}>
                    <label for="Lochia">น้ำคาวปลา</label>
                </td>
                <td>
                    <input type="checkbox" id="Chickenpox" name="Chickenpox" value="1" {% if train['Chickenpox'] == 1 %}checked{% endif %}>
                    <label for="Chickenpox">พิษอีสุกอีใส</label>
                </td>
                <td>
                    <input type="checkbox" id="muscles_tendons" name="muscles_tendons" value="1" {% if train['muscles_tendons'] == 1 %}checked{% endif %}>
                    <label for="muscles_tendons">กษัยเส้น</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" id="dizziness2" name="dizziness2" value="1" {% if train['dizziness2'] == 1 %}checked{% endif %}>
                    <label for="dizziness2">หน้ามืด</label>
                </td>
                <td>
                    <input type="checkbox" id="hemorrhoids" name="hemorrhoids" value="1" {% if train['hemorrhoids'] == 1 %}checked{% endif %}>
                    <label for="hemorrhoids">ริดสีดวงทวาร</label>
                </td>
                <td>
                    <input type="checkbox" id="Vaginal_Discharge" name="Vaginal_Discharge" value="1" {% if train['Vaginal_Discharge'] == 1 %}checked{% endif %}>
                    <label for="Vaginal_Discharge">ตกขาว</label>
                </td>
                <td>
                    <input type="checkbox" id="fever2" name="fever2" value="1" {% if train['fever2'] == 1 %}checked{% endif %}>
                    <label for="fever2">ไข้ตานซาง</label>
                </td>
                <td>
                    <input type="checkbox" id="dizziness5" name="dizziness5" value="1" {% if train['dizziness5'] == 1 %}checked{% endif %}>
                    <label for="dizziness5">ลมกองหยาบ</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" id="dizziness3" name="dizziness3" value="1" {% if train['dizziness3'] == 1 %}checked{% endif %}>
                    <label for="dizziness3">ตาลาย</label>
                </td>
                <td></td>
                <td>
                    <input type="checkbox" id="Nourish_blood" name="Nourish_blood" value="1" {% if train['Nourish_blood'] == 1 %}checked{% endif %}>
                    <label for="Nourish_blood">บำรุงเลือด</label>
                </td>
                <td>
                    <input type="checkbox" id="fever3" name="fever3" value="1" {% if train['fever3'] == 1 %}checked{% endif %}>
                    <label for="fever3">ไข้กาฬ</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" id="dizziness4" name="dizziness4" value="1" {% if train['dizziness4'] == 1 %}checked{% endif %}>
                    <label for="dizziness4">อาการหลังจากฟื้นไข้</label>
                </td>
                <td></td>
                <td></td>
                <td>
                    <input type="checkbox" id="cough" name="cough" value="1" {% if train['cough'] == 1 %}checked{% endif %}>
                    <label for="cough">ไอ</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" id="colic1" name="colic1" value="1" {% if train['colic1'] == 1 %}checked{% endif %}>
                    <label for="colic1">จุกเสียด</label>
                </td>
                <td></td>
                <td></td>
                <td>
                    <input type="checkbox" id="phlegm" name="phlegm" value="1" {% if train['phlegm'] == 1 %}checked{% endif %}>
                    <label for="phlegm">เสมหะ</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" id="tired" name="tired" value="1" {% if train['tired'] == 1 %}checked{% endif %}>
                    <label for="tired">อ่อนเพลีย</label>
                </td>
                <td></td>
                <td></td>
                <td>
                    <input type="checkbox" id="Allergic_Rhinitis" name="Allergic_Rhinitis" value="1" {% if train['Allergic_Rhinitis'] == 1 %}checked{% endif %}>
                    <label for="Allergic_Rhinitis">แพ้อากาศ</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" id="cannot_sleep" name="cannot_sleep" value="1" {% if train['cannot_sleep'] == 1 %}checked{% endif %}>
                    <label for="cannot_sleep">นอนไม่หลับ</label>
                </td>
            </tr>

        </table> 

        
        

        <button type="submit">บันทึกการแก้ไข</button>
    </form>
	

</main>
<!-- MAIN -->

    </section>


    <script>
    
    </script>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
              
</body>
</html>
