<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <title>จัดการข้อมูล Trainning Model</title>
</head> 
<body>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-overlay alert-{{ category }} hidden">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <section id="sidebar">
        <a href="" class="brand">
            <i class='bx bxs-smile'><img src="{{ url_for('static', filename='herbs_icon01.png') }}" class="icon-mini" alt="Menu Icon"></i>
			<span class="text">Mongo</span>
		</a>
		<ul class="side-menu top">
            <li>
				<a href="{{ url_for('index') }}">
					<i class='bx bxs-message-dots' ><img src="{{ url_for('static', filename='plant.png') }}" class="icon-mini" alt="Menu Icon"></i>
					<span class="text">Mongo test</span>
				</a>
			</li>
			<li class="active">
				<a href="{{ url_for('manage_chronics') }}">
					<i class='bx bxs-message-dots' ><img src="{{ url_for('static', filename='plant.png') }}" class="icon-mini" alt="Menu Icon"></i>
					<span class="text">จัดการโรคประจำตัว</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">
			<li>
				<a href="" class="btn-open-modal btn-changepass" id="">
					<i class='bx bxs-log-out-circle' ><img src="{{ url_for('static', filename='enter.png') }}" class="icon-mini" alt="Menu Icon"></i>
					<p class="text">เข้าสู่ระบบ</p>
				</a>
			</li>
			<li>
				<a href="" class="btn-open-modal btn-changepass" id="">
					<i class='bx bxs-log-out-circle' ><img src="{{ url_for('static', filename='enter.png') }}" class="icon-mini" alt="Menu Icon"></i>
					<p class="text">สมัครสมาชิก</p>
				</a>
			</li>
		</ul>

    </section>


    <section id="content">
<!-- NAVBAR -->
<nav>
    <!-- เมนูไอคอนอยู่ชิดซ้าย -->
    <i class='bx bx-menu'>
        <img src="{{ url_for('static', filename='menu-regular-24.png') }}" alt="Menu Icon">
    </i>

	<div class="marquee-container">
        <div class="marquee">
            <p style="color: rgb(161, 193, 226);">เป็นเพียงการให้ความรู้เกี่ยวกับยาสมุนไพร โดยอ้างอิงข้อมูลจาก NLEM:บัญชียาหลักแห่งชาติ (ฉบับที่ 2) พ.ศ. 2555 ประกาศ ณ วันที่ 21 สิงหาคม พ.ศ. 2555 เท่านั้น ไม่ใช่การรักษาโรคแต่อย่างใด หากป่วยควรพบแพทย์ผู้เชี่ยวชาญเพื่อรับการรักษาต่อไป</p>
        </div>
    </div>

</nav>
<!-- NAVBAR -->

<!-- MAIN -->
<main>

	<div class="head-title">
        <div class="left">
            <h2>Trainning Model</h2>
            <ul class="breadcrumb">
                <li>
                    <a href="{{ url_for('manage_trains') }}">จัดการข้อมูล</a>
                </li>
				<li><i class='bx bx-chevron-right' ></i></li>
                <!-- <li>
                    <a class="active" href="">แก้ไขข้อมูล</a>
                </li> -->
            </ul>
        </div>

    </div>

    <div>
        <div class="content">
            <div class="text-container">
                <h2 style="align-items: center;">แก้ไขข้อมูล</h2>
                <!-- <h4>หมวดหมู่: <span style="color: var(--blue);">หน้ามืด วิงเวียน</span></h4> -->
            </div>
        </div>

    </div>

	
	<form action="{{ url_for('edit_chronic', chronic_id=chronic['_id']) }}" method="POST">
		<label for="Age">อายุ</label>
        <input type="int" id="Age" name="Age" value="{{ train['Age'] }}" required><br>

        <label for="pregnant">ตั้งครรภ์</label>
        <input type="checkbox" id="pregnant" name="pregnant" value="{{ train['pregnant'] }}">

		<button type="submit">บันทึกการแก้ไข</button>
	</form>
	

</main>
<!-- MAIN -->

    </section>


    <script>
    
    </script>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
              
</body>
</html>
