<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<link rel="icon" href="{{ url_for('static', filename='leafe_oo.png') }}" type="image/png">
	<script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <title>หน้าหลัก</title>
</head> 
<body>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-overlay alert-{{ category }} hidden">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <section id="sidebar">
        <a href="" class="brand">
            <i class='bx bxs-smile'><img src="{{ url_for('static', filename='herbs_icon01.png') }}" class="icon-mini" alt="Menu Icon"></i>
			<span class="text">Mongo</span>
		</a>
		<ul class="side-menu top">
            <li  class="active">
				<a href="{{ url_for('index') }}">
					<i class='bx bxs-message-dots' ><img src="{{ url_for('static', filename='plant.png') }}" class="icon-mini" alt="Menu Icon"></i>
					<span class="text">Mongo test</span>
				</a>
			</li>
			<li>
				<a href="{{ url_for('manage_chronics') }}">
					<i class='bx bxs-message-dots' ><img src="{{ url_for('static', filename='plant.png') }}" class="icon-mini" alt="Menu Icon"></i>
					<span class="text">จัดการโรคประจำตัว</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">
			<li>
				<a href="{{ url_for('login') }}" class="btn-open-modal btn-changepass" id="">
					<i class='bx bxs-log-out-circle' ><img src="{{ url_for('static', filename='enter.png') }}" class="icon-mini" alt="Menu Icon"></i>
					<p class="text">เข้าสู่ระบบ</p>
				</a>
			</li>
			<li>
				<a href="" class="btn-open-modal btn-changepass" id="">
					<i class='bx bxs-log-out-circle' ><img src="{{ url_for('static', filename='enter.png') }}" class="icon-mini" alt="Menu Icon"></i>
					<p class="text">สมัครสมาชิก</p>
				</a>
			</li>
		</ul>

    </section>




    <section id="content">
<!-- NAVBAR -->
<nav>
    <!-- เมนูไอคอนอยู่ชิดซ้าย -->
    <i class='bx bx-menu'>
        <img src="{{ url_for('static', filename='menu-regular-24.png') }}" alt="Menu Icon">
    </i>

	<div class="marquee-container">
        <div class="marquee">
            <p style="color: rgb(161, 193, 226);">เป็นเพียงการให้ความรู้เกี่ยวกับยาสมุนไพร โดยอ้างอิงข้อมูลจาก NLEM:บัญชียาหลักแห่งชาติ (ฉบับที่ 2) พ.ศ. 2555 ประกาศ ณ วันที่ 21 สิงหาคม พ.ศ. 2555 เท่านั้น ไม่ใช่การรักษาโรคแต่อย่างใด หากป่วยควรพบแพทย์ผู้เชี่ยวชาญเพื่อรับการรักษาต่อไป</p>
        </div>
    </div>

</nav>
<!-- NAVBAR -->

<!-- MAIN -->
<main>
	<!-- พื้นหลังโปร่งแสง -->
	<div class="modal-overlay"></div>

	<!-- Modal เข้าสู่ระบบ -->
	<div class="modal">
		<h2>เข้าสู่ระบบ</h2>
			<form action="{{ url_for('login') }}" method="POST">
			<div class="form-group">
				<div class="form-group-horizontal2">
					<label for="username">ชื่อผู้ใช้</label>
					<input type="text" id="username" name="username" required>
				</div>

				<div class="form-group-horizontal2">
					<label for="password">รหัสผ่าน</label>
					<input type="password" id="password" name="password" required>
				</div>

			</div>

			<button type="submit" class="btn-submit">ยืนยัน</button><br>

		</form>
	</div>


	<div class="head-title"></div>
        <div class="left">
            <h1>ระบบจัดการสมาชิก (ทดสอบ)</h1>
        </div>
    </div>

	<br>

	<h2>เพิ่มสมาชิก</h2>
    <form action="/add_user" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <br>
		<label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
		<br>
        <button type="submit">เพิ่ม</button>
    </form>

	{% if user_count == 0 %}
        <p>No users found in the database.</p>
    {% else %}
		<ul>
			{% for user in users %}
				<li>{{ user['username'] }} - {{ user['email'] }} - Role : {{ user['role'] }}
					<form action="{{ url_for('delete_user', user_id=user['_id']) }}" method="POST" style="display:inline;">
						<button type="submit">ลบ</button>
					</form>
					<a href="{{ url_for('edit_user', user_id=user['_id']) }}">แก้ไข</a>
				</li>
			{% endfor %}
		</ul>
    {% endif %}

	
	

</main>
<!-- MAIN -->

    </section>


    <script>
		const modal = document.querySelector('.modal');
        const overlay = document.querySelector('.modal-overlay');
        const openModalBtn = document.querySelector('.btn-open-modal');
        const mainContent = document.querySelector('.main-content');

		const modal2 = document.querySelector('.modal2');
		const overlay2 = document.querySelector('.modal2-overlay');
		const openModalBtn2 = document.querySelector('.btn-open-modal2');

        // เมื่อคลิกปุ่มเปิด modal
        openModalBtn.addEventListener('click', function(e) {
            e.preventDefault();
            modal.classList.add('active');
            overlay.classList.add('active');
            mainContent.classList.add('blurred'); // เพิ่มเอฟเฟกต์เบลอให้กับเนื้อหาหลัก
        });

		// เมื่อคลิกปุ่มเปิด modal2
        openModalBtn2.addEventListener('click', function(e) {
            e.preventDefault();
            modal2.classList.add('active');
            overlay2.classList.add('active');
            mainContent.classList.add('blurred'); // เพิ่มเอฟเฟกต์เบลอให้กับเนื้อหาหลัก
        });

        // เมื่อคลิกที่พื้นหลังโปร่งแสงเพื่อปิด modal
        overlay.addEventListener('click', function() {
            modal.classList.remove('active');
            overlay.classList.remove('active');
            mainContent.classList.remove('blurred'); // เอาเอฟเฟกต์เบลอออก
        });

		// เมื่อคลิกที่พื้นหลังโปร่งแสงเพื่อปิด modal2
        overlay2.addEventListener('click', function() {
            modal2.classList.remove('active');
            overlay2.classList.remove('active');
            mainContent.classList.remove('blurred'); // เอาเอฟเฟกต์เบลอออก
        });

    </script>          
    
</body>
</html>
