<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <title>วิเคราะห์ยาสมุนไพร</title>
</head> 
<body>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-overlay alert-{{ category }} hidden">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <section id="sidebar">
        <a href="" class="brand">
            <i class='bx bxs-smile'><img src="{{ url_for('static', filename='herbs_icon01.png') }}" class="icon-mini" alt="Menu Icon"></i>
			<span class="text">Mongo</span>
		</a>
		<ul class="side-menu top">
			<li>
				<a href="">
					<i class='bx bxs-dashboard' ><img src="{{ url_for('static', filename='dashboard.png') }}" class="icon-mini" alt="Menu Icon"></i>
					<span class="text">แดชบอร์ด</span>
				</a>
			</li>
            <li>
				<a href="">
					<i class='bx bxs-shopping-bag-alt' ><img src="{{ url_for('static', filename='group.png') }}" class="icon-mini" alt="Menu Icon"></i>
					<span class="text">จัดการสมาชิก</span>
				</a>
			</li>
			<li>
				<a href="">
					<i class='bx bxs-shopping-bag-alt' ><img src="{{ url_for('static', filename='leaf_01.png') }}" class="icon-mini" alt="Menu Icon"></i>
					<span class="text">จัดการยาสมุนไพร</span>
				</a>
			</li>
			<li>
				<a href="">
					<i class='bx bxs-doughnut-chart' ><img src="{{ url_for('static', filename='medicine.png') }}" class="icon-mini" alt="Menu Icon"></i>
					<span class="text">จัดการข้อมูลยา</span>
				</a>
			</li>
			<li>
				<a href="">
					<i class='bx bxs-doughnut-chart' ><img src="{{ url_for('static', filename='prevent.png') }}" class="icon-mini" alt="Menu Icon"></i>
					<span class="text">จัดการข้อมูลโรคและอาการ</span>
				</a>
			</li>
            <li>
				<a href="">
					<i class='bx bxs-doughnut-chart' ><img src="{{ url_for('static', filename='no-milk.png') }}" class="icon-mini" alt="Menu Icon"></i>
					<span class="text">จัดการข้อมูลการแพ้</span>
				</a>
			</li>
            <li class="active">
				<a href="{{ url_for('manage_trains') }}">
					<i class='bx bxs-doughnut-chart' ><img src="{{ url_for('static', filename='database.png') }}" class="icon-mini" alt="Menu Icon"></i>
					<span class="text">จัดการข้อมูล Training</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">
			<li>
				<a href="{{ url_for('logout') }}" class="logout">
					<i class='bx bxs-log-out-circle' ><img src="{{ url_for('static', filename='logout.png') }}" class="icon-mini" alt="Menu Icon"></i>
					<span class="text">ออกจากระบบ</span>
				</a>
			</li>
		</ul>

    </section>


    <section id="content">
<!-- NAVBAR -->
<nav>
    <!-- เมนูไอคอนอยู่ชิดซ้าย -->
    <i class='bx bx-menu'>
        <img src="{{ url_for('static', filename='menu-regular-24.png') }}" alt="Menu Icon">
    </i>

	<div class="marquee-container">
        <div class="marquee">
            <p style="color: rgb(161, 193, 226);">เป็นเพียงการให้ความรู้เกี่ยวกับยาสมุนไพร โดยอ้างอิงข้อมูลจาก NLEM:บัญชียาหลักแห่งชาติ (ฉบับที่ 2) พ.ศ. 2555 ประกาศ ณ วันที่ 21 สิงหาคม พ.ศ. 2555 เท่านั้น ไม่ใช่การรักษาโรคแต่อย่างใด หากป่วยควรพบแพทย์ผู้เชี่ยวชาญเพื่อรับการรักษาต่อไป</p>
        </div>
    </div>

</nav>
<!-- NAVBAR -->

<!-- MAIN -->
<main>
    <div class="head-title">
        <div class="left">
            <h2>ข้อมูล Trainning Model</h2>
            <ul class="breadcrumb">
                <li>
                    <a href="{{ url_for('manage_trains') }}" class="active">จัดการข้อมูล</a>
                </li>
            </ul>
        </div>

    </div>

    <div class="symphony">
        <div>
            <label>
                <input type="checkbox" name="dizziness1" id="" value="1">
                <span>เวียนหัว</span>
            </label>
            <label>
                <input type="checkbox" name="dizziness2" id="" value="1">
                <span>หน้ามืด</span>
            </label>
            <label>
                <input type="checkbox" name="dizziness3" id="" value="1">
                <span>ตาลาย</span>
            </label>
            <label>
                <input type="checkbox" name="tired" id="" value="1">
                <span>อ่อนเพลีย</span>
            </label>
            <label>
                <input type="checkbox" name="cannot_sleep" id="" value="1">
                <span>นอนไม่หลับ</span>
            </label><br>
            <label>
                <input type="checkbox" name="dizziness4" id="" value="1">
                <span>ลมปลายไข้</span>
                
            </label>
            <div class="tooltip-container">
                <img src="{{ url_for('static', filename='information.png') }}" class="tooltip-icon" alt="info">
                <span class="tooltip-text">หลังฟื้นไข้แล้วยังมีอาการ เช่น คลื่นไส้ วิงเวียน เบื่ออาหาร ท้องอืด และอ่อนเพลีย</span>
            </div>
            <label>
                <input type="checkbox" name="dizziness5" id="" value="1">
                <span>ลมกองหยาบ</span>
            </label>
            <div class="tooltip-container">
                <img src="{{ url_for('static', filename='information.png') }}" class="tooltip-icon" alt="info">
                <span class="tooltip-text">อาการท้องอืด แน่นท้อง แน่นหน้าอก หน้ามืด และเวียนศีรษะ เคลื่อนไปตามส่วนต่าง ๆ ของร่างกาย</span>
            </div>
        </div>

    </div>

    <h4>เพิ่มข้อมูล</h4>
    <form action="{{ url_for('add_trains') }}" method="POST">

        <label for="Age">อายุ : {{ Age }}</label>
        <input type="int" id="Age" name="Age" required><br>

        <table>
            <tr>
                <td>
                    <input type="checkbox" id="pregnant" name="pregnant" value="1">
                    <label for="pregnant">ตั้งครรภ์</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" id="dizziness1" name="dizziness1" value="1">
                    <label for="dizziness1">เวียนหัว</label>
                </td>
                <td>
                    <input type="checkbox" id="Palpitations" name="Palpitations" value="1">
                    <label for="Palpitations">ใจสั่น ใจหวิว</label>
                </td>
                <td>
                    <input type="checkbox" id="squeamish" name="squeamish" value="1">
                    <label for="squeamish">คลื่นไส้</label>
                </td>
                <td>
                    <input type="checkbox" id="vomit" name="vomit" value="1">
                    <label for="vomit">อาเจียน</label>
                </td>
                <td>
                    <input type="checkbox" id="dizziness2" name="dizziness2" value="1">
                    <label for="dizziness2">หน้ามืด</label>
                </td>
                <td>
                    <input type="checkbox" id="dizziness3" name="dizziness3" value="1">
                    <label for="dizziness3">ตาลาย</label>
                </td>
                <td>
                    <input type="checkbox" id="dizziness4" name="dizziness4" value="1">
                    <label for="dizziness4">อาการหลังจากฟื้นไข้</label>
                </td>
                <td>
                    <input type="checkbox" id="colic1" name="colic1" value="1">
                    <label for="colic1">จุกเสียด</label>
                </td>
                <td>
                    <input type="checkbox" id="tired" name="tired" value="1">
                    <label for="tired">อ่อนเพลีย</label>
                </td>
                <td>
                    <input type="checkbox" id="cannot_sleep" name="cannot_sleep" value="1">
                    <label for="cannot_sleep">นอนไม่หลับ</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" id="flatulence" name="flatulence" value="1">
                    <label for="flatulence">ท้องอืด ท้องเฟ้อ</label>
                </td>
                <td>
                    <input type="checkbox" id="stomach_ache" name="stomach_ache" value="1">
                    <label for="stomach_ache">ปวดท้อง</label>
                </td>
                <td>
                    <input type="checkbox" id="constipation1" name="constipation1" value="1">
                    <label for="constipation1">ท้องผูก</label>
                </td>
                <td>
                    <input type="checkbox" id="diarrhea1" name="diarrhea1" value="1">
                    <label for="diarrhea1">ท้องเสีย</label>
                </td>
                <td>
                    <input type="checkbox" id="hemorrhoids" name="hemorrhoids" value="1">
                    <label for="hemorrhoids">ริดสีดวงทวาร</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" id="menstruation" name="menstruation" value="1">
                    <label for="menstruation">ประจำเดือนมาไม่สม่ำเสมอ</label>
                </td>
                <td>
                    <input type="checkbox" id="Menstrual_cramps" name="Menstrual_cramps" value="1">
                    <label for="Menstrual_cramps">ปวดประจำเดือน</label>
                </td>
                <td>
                    <input type="checkbox" id="postpartum_woman" name="postpartum_woman" value="1">
                    <label for="postpartum_woman">หญิงหลังคลอด</label>
                </td>
                <td>
                    <input type="checkbox" id="Lochia" name="Lochia" value="1">
                    <label for="Lochia">น้ำคาวปลา</label>
                </td>
                <td>
                    <input type="checkbox" id="Vaginal_Discharge" name="Vaginal_Discharge" value="1">
                    <label for="Vaginal_Discharge">ตกขาว</label>
                </td>
                <td>
                    <input type="checkbox" id="Nourish_blood" name="Nourish_blood" value="1">
                    <label for="Nourish_blood">บำรุงเลือด</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" id="fever1" name="fever1" value="1">
                    <label for="fever1">ไข้</label>
                </td>
                <td>
                    <input type="checkbox" id="inner_heat" name="inner_heat" value="1">
                    <label for="inner_heat">ร้อนใน</label>
                </td>
                <td>
                    <input type="checkbox" id="Measles" name="Measles" value="1">
                    <label for="Measles">พิษหัด</label>
                </td>
                <td>
                    <input type="checkbox" id="Chickenpox" name="Chickenpox" value="1">
                    <label for="Chickenpox">พิษอีสุกอีใส</label>
                </td>
                <td>
                    <input type="checkbox" id="fever2" name="fever2" value="1">
                    <label for="fever2">ไข้ตานซาง</label>
                </td>
                <td>
                    <input type="checkbox" id="fever3" name="fever3" value="1">
                    <label for="fever3">ไข้กาฬ</label>
                </td>
                <td>
                    <input type="checkbox" id="cough" name="cough" value="1">
                    <label for="cough">ไอ</label>
                </td>
                <td>
                    <input type="checkbox" id="phlegm" name="phlegm" value="1">
                    <label for="phlegm">เสมหะ</label>
                </td>
                <td>
                    <input type="checkbox" id="cold" name="cold" value="1">
                    <label for="cold">หวัด</label>
                </td>
                <td>
                    <input type="checkbox" id="Allergic_Rhinitis" name="Allergic_Rhinitis" value="1">
                    <label for="Allergic_Rhinitis">แพ้อากาศ</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" id="body_aches" name="body_aches" value="1">
                    <label for="body_aches">ปวดเมื่อยตามร่างกาย</label>
                </td>
                <td>
                    <input type="checkbox" id="tendon" name="tendon" value="1">
                    <label for="tendon">ปวดตามเส้นเอ็น</label>
                </td>
                <td>
                    <input type="checkbox" id="Tight_numb" name="Tight_numb" value="1">
                    <label for="Tight_numb">กล้ามเนื้อมือ เท้า ตึงหรือชา</label>
                </td>
                <td>
                    <input type="checkbox" id="muscles_tendons" name="muscles_tendons" value="1">
                    <label for="muscles_tendons">กษัยเส้น</label>
                </td>
                <td>
                    <input type="checkbox" id="dizziness5" name="dizziness5" value="1">
                    <label for="dizziness5">ลมกองหยาบ</label>
                </td>
            </tr>
        </table> 

        
        

        <button type="submit">เพิ่ม</button>
    </form><br>

    <div class="table-data">
        <div class="order">

            <table>
                <thead>
                    <tr>
                        <th></th>
                    </tr>
                    <tr>
                        <td>อายุ</td>
                        <td>ตั้งครรภ์(เดี๋ยวเปลี่ยนเป็นปิ๊ปๆ)</td>
                        <td>รหัสยาสมุนไพร</td>
                    </tr>
                </thead>
                <tbody>
                    {% for train in trains %}
                    <tr>
                        <td>{{ train['Age'] }}</td>
                        <td>{{ train['pregnant'] }}</td>
                        <td>{{ train['hm_id'] }}</td>
                        <td>
                            <form action="{{ url_for('delete_trains', train_id=train['_id']) }}" method="POST" style="display:inline;">
                                <button type="submit">ลบ</button>
                            </form>
                            <a href="{{ url_for('edit_trains', train_id=train['_id']) }}">แก้ไข</a>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="4">ไม่พบข้อมูล Training</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>


        </div>
    </div>

    <div class="pagination">
        {% if page > 1 %}
            <a href="{{ url_for('manage_trains', page=page-1) }}">ก่อนหน้า</a>
        {% endif %}
        
        {% for p in range(1, total_pages + 1) %}
            <a href="{{ url_for('manage_trains', page=p) }}" class="{% if p == page %}active{% endif %}">{{ p }}</a>
        {% endfor %}
    
        {% if page < total_pages %}
            <a href="{{ url_for('manage_trains', page=page+1) }}">ถัดไป</a>
        {% endif %}
    </div>

      
</main>
<!-- MAIN -->

    </section>

    
    <script>
      
    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
              
</body>
</html>
