<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <title>วิเคราะห์ยาสมุนไพร</title>
</head> 
<body>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-overlay alert-{{ category }} hidden">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <section id="sidebar">
        <a href="" class="brand">
            <i class='bx bxs-smile'><img src="{{ url_for('static', filename='herbs_icon01.png') }}" class="icon-mini" alt="Menu Icon"></i>
			<span class="text">Mongo</span>
		</a>
		<ul class="side-menu top">
			<li>
				<a href="">
					<i class='bx bxs-dashboard' ><img src="{{ url_for('static', filename='dashboard.png') }}" class="icon-mini" alt="Menu Icon"></i>
					<span class="text">แดชบอร์ด</span>
				</a>
			</li>
            <li>
				<a href="{{ url_for('manage_members') }}">
					<i class='bx bxs-shopping-bag-alt' ><img src="{{ url_for('static', filename='group.png') }}" class="icon-mini" alt="Menu Icon"></i>
					<span class="text">จัดการสมาชิก</span>
				</a>
			</li>
			<li>
				<a href="{{ url_for('manage_herbals') }}">
					<i class='bx bxs-shopping-bag-alt' ><img src="{{ url_for('static', filename='leaf_01.png') }}" class="icon-mini" alt="Menu Icon"></i>
					<span class="text">จัดการยาสมุนไพร</span>
				</a>
			</li>
			<li>
				<a href="{{ url_for('manage_medicines') }}">
					<i class='bx bxs-doughnut-chart' ><img src="{{ url_for('static', filename='medicine.png') }}" class="icon-mini" alt="Menu Icon"></i>
					<span class="text">จัดการข้อมูลยา</span>
				</a>
			</li>
			<li>
				<a href="{{ url_for('manage_chrosymps') }}">
					<i class='bx bxs-doughnut-chart' ><img src="{{ url_for('static', filename='prevent.png') }}" class="icon-mini" alt="Menu Icon"></i>
					<span class="text">จัดการข้อมูลโรคและอาการ</span>
				</a>
			</li>
            <li class="active">
				<a href="{{ url_for('manage_allergys') }}">
					<i class='bx bxs-doughnut-chart' ><img src="{{ url_for('static', filename='no-milk.png') }}" class="icon-mini" alt="Menu Icon"></i>
					<span class="text">จัดการข้อมูลการแพ้</span>
				</a>
			</li>
            <li>
				<a href="{{ url_for('manage_trains') }}">
					<i class='bx bxs-doughnut-chart' ><img src="{{ url_for('static', filename='database.png') }}" class="icon-mini" alt="Menu Icon"></i>
					<span class="text">จัดการข้อมูล Training</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">
			<li>
				<a href="{{ url_for('logout') }}" class="logout">
					<i class='bx bxs-log-out-circle' ><img src="{{ url_for('static', filename='logout.png') }}" class="icon-mini" alt="Menu Icon"></i>
					<span class="text">ออกจากระบบ</span>
				</a>
			</li>
		</ul>

    </section>


    <section id="content">
<!-- NAVBAR -->
<nav>
    <!-- เมนูไอคอนอยู่ชิดซ้าย -->
    <i class='bx bx-menu'>
        <img src="{{ url_for('static', filename='menu-regular-24.png') }}" alt="Menu Icon">
    </i>

	<div class="marquee-container">
        <div class="marquee">
            <p style="color: rgb(161, 193, 226);">เป็นเพียงการให้ความรู้เกี่ยวกับยาสมุนไพร โดยอ้างอิงข้อมูลจาก NLEM:บัญชียาหลักแห่งชาติ (ฉบับที่ 2) พ.ศ. 2555 ประกาศ ณ วันที่ 21 สิงหาคม พ.ศ. 2555 เท่านั้น ไม่ใช่การรักษาโรคแต่อย่างใด หากป่วยควรพบแพทย์ผู้เชี่ยวชาญเพื่อรับการรักษาต่อไป</p>
        </div>
    </div>

</nav>
<!-- NAVBAR -->

<!-- MAIN -->
<main>
    <div class="head-title">
        <div class="left">
            <h2>ข้อมูลยา</h2>
            <!-- <ul class="breadcrumb">
                <li>
                    <a href="{{ url_for('manage_herbals') }}" class="active">จัดการข้อมูล</a>
                </li>
            </ul> -->
        </div>

    </div><br>

    <div>
        <div class="content">
            <div class="text-container">
                <h3 style="align-items: center;">เพิ่มข้อมูล</h3>
            </div>
        </div>

        <form action="{{ url_for('add_allergy') }}" method="POST">
            <label for="ag_name">ชื่อข้อมูลการแพ้</label>
            <input type="text" id="ag_name" name="ag_name" required>&nbsp;&nbsp;
            <label for="ag_detail">รายละเอียด</label>
            <input type="text" id="ag_detail" name="ag_detail">
            <button type="submit">เพิ่ม</button>
        </form>
        
    </div><br>
    

    <div class="table-data">
        <div class="order">

            <table>
                <thead>
                    <tr>
                        <th>รหัส</th>
                        <th>ชื่อการแพ้</th>
                        <th style="width: 40%;">รายละเอียด</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for allergy in allergys %}
                    <tr>
                        <td>{{ allergy['ag_id'] }}</td>
                        <td>{{ allergy['ag_name'] }}</td>
                        <td>{{ allergy['ag_detail'] }}</td>
                        <td>
                            <a href="">แก้ไข</a>
                            <form action="{{ url_for('delete_allergy', allergy_id=allergy['_id']) }}" method="POST" style="display:inline;">
                                <button type="submit">ลบ</button>
                            </form> 
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="3">ไม่พบข้อมูลการแพ้</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

    <div class="pagination">
        {% if page > 1 %}
            <a href="{{ url_for('manage_allergys', page=page-1) }}">ก่อนหน้า</a>
        {% endif %}
        
        {% for p in range(1, total_pages + 1) %}
            <a href="{{ url_for('manage_allergys', page=p) }}" class="{% if p == page %}active{% endif %}">{{ p }}</a>
        {% endfor %}
    
        {% if page < total_pages %}
            <a href="{{ url_for('manage_allergys', page=page+1) }}">ถัดไป</a>
        {% endif %}
    </div>

      
</main>
<!-- MAIN -->

    </section>

    
    <script>
      
    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
              
</body>
</html>
