<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <title>วิเคราะห์ยาสมุนไพร</title>
</head> 
<body>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-overlay alert-{{ category }} hidden">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <section id="sidebar">
        <a href="" class="brand">
            <i class='bx bxs-smile'><img src="{{ url_for('static', filename='herbs_icon01.png') }}" class="icon-mini" alt="Menu Icon"></i>
			<span class="text">Mongo</span>
		</a>
		<ul class="side-menu top">
			<li>
				<a href="">
					<i class='bx bxs-dashboard' ><img src="{{ url_for('static', filename='dashboard.png') }}" class="icon-mini" alt="Menu Icon"></i>
					<span class="text">แดชบอร์ด</span>
				</a>
			</li>
            <li>
				<a href="{{ url_for('manage_members') }}">
					<i class='bx bxs-shopping-bag-alt' ><img src="{{ url_for('static', filename='group.png') }}" class="icon-mini" alt="Menu Icon"></i>
					<span class="text">จัดการสมาชิก</span>
				</a>
			</li>
			<li class="active">
				<a href="{{ url_for('manage_herbals') }}">
					<i class='bx bxs-shopping-bag-alt' ><img src="{{ url_for('static', filename='leaf_01.png') }}" class="icon-mini" alt="Menu Icon"></i>
					<span class="text">จัดการยาสมุนไพร</span>
				</a>
			</li>
			<li>
				<a href="{{ url_for('manage_medicines') }}">
					<i class='bx bxs-doughnut-chart' ><img src="{{ url_for('static', filename='medicine.png') }}" class="icon-mini" alt="Menu Icon"></i>
					<span class="text">จัดการข้อมูลยา</span>
				</a>
			</li>
			<li>
				<a href="{{ url_for('manage_chrosymps') }}">
					<i class='bx bxs-doughnut-chart' ><img src="{{ url_for('static', filename='prevent.png') }}" class="icon-mini" alt="Menu Icon"></i>
					<span class="text">จัดการข้อมูลโรคและอาการ</span>
				</a>
			</li>
            <li>
				<a href="{{ url_for('manage_allergys') }}">
					<i class='bx bxs-doughnut-chart' ><img src="{{ url_for('static', filename='no-milk.png') }}" class="icon-mini" alt="Menu Icon"></i>
					<span class="text">จัดการข้อมูลการแพ้</span>
				</a>
			</li>
            <li>
				<a href="{{ url_for('manage_trains') }}">
					<i class='bx bxs-doughnut-chart' ><img src="{{ url_for('static', filename='database.png') }}" class="icon-mini" alt="Menu Icon"></i>
					<span class="text">จัดการข้อมูล Training</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">
			<li>
				<a href="{{ url_for('logout') }}" class="logout">
					<i class='bx bxs-log-out-circle' ><img src="{{ url_for('static', filename='logout.png') }}" class="icon-mini" alt="Menu Icon"></i>
					<span class="text">ออกจากระบบ</span>
				</a>
			</li>
		</ul>

    </section>


    <section id="content">
<!-- NAVBAR -->
<nav>
    <!-- เมนูไอคอนอยู่ชิดซ้าย -->
    <i class='bx bx-menu'>
        <img src="{{ url_for('static', filename='menu-regular-24.png') }}" alt="Menu Icon">
    </i>

	<div class="marquee-container">
        <div class="marquee">
            <p style="color: rgb(161, 193, 226);">เป็นเพียงการให้ความรู้เกี่ยวกับยาสมุนไพร โดยอ้างอิงข้อมูลจาก NLEM:บัญชียาหลักแห่งชาติ (ฉบับที่ 2) พ.ศ. 2555 ประกาศ ณ วันที่ 21 สิงหาคม พ.ศ. 2555 เท่านั้น ไม่ใช่การรักษาโรคแต่อย่างใด หากป่วยควรพบแพทย์ผู้เชี่ยวชาญเพื่อรับการรักษาต่อไป</p>
        </div>
    </div>

</nav>
<!-- NAVBAR -->

<!-- MAIN -->
<main>
    <div class="head-title">
        <div class="left">
            <h2>ข้อมูลยาสมุนไพร</h2>
            <!-- <ul class="breadcrumb">
                <li>
                    <a href="{{ url_for('manage_herbals') }}" class="active">จัดการข้อมูล</a>
                </li>
            </ul> -->
        </div>
        <a href="{{ url_for('manage_warnings') }}" class="btn-download">รายการคำเตือน</a>

    </div><br>

    <form action="{{ url_for('add_herbal') }}" method="POST">

        <div class="table-data">
        
            <div class="order">
                <table>
                    <tr>
                        <th>
                            <label for="hm_name">ชื่อยาสมุนไพร</label>
                        </th>
                        <td>
                            <input type="text" name="hm_name" placeholder="กรอกชื่อยาสมุนไพร" required>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label for="hm_recipe">ตำรับยา</label>
                        </th>
                        <td>
                            <input type="text" name="hm_recipe" placeholder="กรอกรายละเอียด" >
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label for="hm_dosage">วิธีใช้</label>
                        </th>
                        <td>
                            <input type="text" name="hm_dosage" placeholder="กรอกวิธีใช้ยาใหม่(ถ้ามี)" >
                        </td>
                    </tr>

                </table><br>

                <div class="head">
                    <div class="selected-list">

                        <table class="warningTable" id="selectedWarningsList">
                            <thead>
                                <tr>
                                    <th>คำเตือน</th>
    
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Selected items will be displayed here -->
                            </tbody>
                        </table>
                    </div>
                    
                </div>
                <div class="head">
                    <select id="warnings" name="warnings" multiple>
                        <option value="">-- เลือก --</option>
                        {% for warning in warnings %}
                            <option value="{{ warning['wn_id'] }}" title="{{ warning['wn_name'] }}">{{ warning['wn_id'] }}-{{ warning['wn_name'] | truncate(40, True) }}</option>
                        {% endfor %}    
                    </select>
                    <button type="button" onclick="addSelected('warnings')">เพิ่มคำเตือน</button>
                </div>
                <br>

                <div class="head">
                    <div class="selected-list">

                        <table class="symptomTable" id="selectedSymptomsList">
                            <thead>
                                <tr>
                                    <th>อาการที่เกี่ยวข้อง</th>
    
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Selected items will be displayed here -->
                            </tbody>
                        </table>
                    </div>
                    
                </div>
                <div class="head">
                    <select id="symptoms" name="symptoms" multiple>
                        <option value="">-- เลือก --</option>
                        {% for symptom in symptoms %}
                            <option value="{{ symptom['st_id'] }}" title="{{ symptom['st_name'] }}">{{ symptom['st_id'] }}-{{ symptom['st_name'] | truncate(40, True) }}</option>
                        {% endfor %}    
                    </select>
                    <button type="button" onclick="addSelected('symptoms')">เพิ่มอาการ</button>
                </div>


                <button type="submit" class="btn-submit">
                    <img src="{{ url_for('static', filename='add_herb.png') }}" alt="Submit">
                </button>

            </div>
    
            
        </div>
    </form>
    <br>

    <div class="table-data">
        <div class="order">

            <table>
                <thead>
                    <tr>
                        <th style="width: 10%;">รหัส</th>
                        <th>ชื่อยาสมุนไพร</th>
                        <th style="width: 20%;">วิธีใช้</th>
                        <th style="width: 20%;">ตำรับยา</th>
                        <th style="width: 15%;">คำเตือน</th>
                        <th>อาการที่เกี่ยวข้อง</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for herbal in herbals %}
                    <tr>
                        <td>{{ herbal['hm_id'] }}</td>
                        <td>{{ herbal['hm_name'] }}</td>
                        <td class="hm-dosages">{{ herbal['hm_dosage'] }}</td>
                        <td class="hm-recipes">{{ herbal['hm_recipe'] }}</td>
                        <td class="hm-warnings">{{ herbal['warnings_text'] }}</td>
                        <td class="hm-symptoms">{{ herbal['symptoms_text'] }}</td>
                        <td>
                            <a href="{{ url_for('edit_herbal', herbal_id=herbal['_id']) }}">แก้ไข</a>
                            <form action="{{ url_for('delete_herbal', herbal_id=herbal['_id']) }}" method="POST" style="display:inline;" onsubmit="return confirmDelete()">
                                <button type="submit">ลบ</button>
                            </form> 
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="6">ไม่พบข้อมูลยาสมุนไพร</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

    <div class="pagination">
        {% if page > 1 %}
            <a href="{{ url_for('manage_herbals', page=page-1) }}">ก่อนหน้า</a>
        {% endif %}
        
        {% for p in range(1, total_pages + 1) %}
            <a href="{{ url_for('manage_herbals', page=p) }}" class="{% if p == page %}active{% endif %}">{{ p }}</a>
        {% endfor %}
    
        {% if page < total_pages %}
            <a href="{{ url_for('manage_herbals', page=page+1) }}">ถัดไป</a>
        {% endif %}
    </div>

      
</main>
<!-- MAIN -->

    </section>

    
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var recipeElements = document.querySelectorAll('.hm-warnings');
            
            recipeElements.forEach(function(element) {
                var rawText = element.textContent || element.innerText;
                var formattedText = formatWarningText(rawText);
                element.innerHTML = formattedText;
            });

            var recipeElements = document.querySelectorAll('.hm-recipes');

            recipeElements.forEach(function(element) {
                var rawText = element.textContent || element.innerText;
                var formattedText = formatRecipeText(rawText);
                element.innerHTML = formattedText;
            });

            var recipeElements = document.querySelectorAll('.hm-dosages');

            recipeElements.forEach(function(element) {
                var rawText = element.textContent || element.innerText;
                var formattedText = formatDosageText(rawText);
                element.innerHTML = formattedText;
            });

            var recipeElements = document.querySelectorAll('.hm-symptoms');

            recipeElements.forEach(function(element) {
                var rawText = element.textContent || element.innerText;
                var formattedText = formatSymptomText(rawText);
                element.innerHTML = formattedText;
            });

        });

        function formatWarningText(text) {
            var formattedText = text.replace(/,/g, '<br>');
            return formattedText;
        }
        function formatRecipeText(text) {
            var formattedText = text.replace(/,/g, '<br>');
            return formattedText;
        }
        function formatDosageText(text) {
            var formattedText = text.replace(/,/g, '<br>');
            return formattedText;
        }
        function formatSymptomText(text) {
            var formattedText = text.replace(/,/g, '<br>');
            return formattedText;
        }


        function addSelected(type) {
            const select = document.getElementById(type);
            const selectedList = document.getElementById(`selected${type.charAt(0).toUpperCase() + type.slice(1)}List`);

            const selectedOptions = Array.from(select.selectedOptions);

            selectedOptions.forEach(option => {
                // ตรวจสอบว่ามีรายการนี้อยู่แล้วในรายการที่เลือกหรือไม่
                if (!Array.from(selectedList.children).some(tr => tr.dataset.value === option.value)) {
                    const tr = document.createElement('tr');
                    const tdText = document.createElement('td');
                    tdText.textContent = option.textContent;
                    const tdAction = document.createElement('td');
                    
                    // สร้างปุ่มลบ
                    const removeButton = document.createElement('button');
                    removeButton.type = 'button'; // Prevent form submission
                    removeButton.textContent = 'ลบ';
                    removeButton.onclick = () => {
                        selectedList.querySelector(`tr[data-value="${option.value}"]`).remove();
                        document.querySelector(`input[name="${type}"][value="${option.value}"]`).remove();
                    };
                    tdAction.appendChild(removeButton);

                    tr.appendChild(tdText);
                    tr.appendChild(tdAction);

                    tr.dataset.value = option.value; // Store value in dataset

                    selectedList.querySelector('tbody').appendChild(tr);

                    // เพิ่ม input hidden เพื่อตรวจสอบการส่งค่า
                    const hiddenInput = document.createElement('input');
                    hiddenInput.type = 'hidden';
                    hiddenInput.name = type;
                    hiddenInput.value = option.value;
                    document.querySelector('form').appendChild(hiddenInput);
                }
                option.selected = false; // Deselect the option after adding
            });
        }


        function confirmDelete() {
            return confirm("คุณแน่ใจหรือไม่ว่าต้องการลบข้อมูลนี้?");
        }
      
    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
              
</body>
</html>
