<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <title>ข้อมูลยาสมุนไพร</title>
</head> 
<body>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-overlay alert-{{ category }} hidden">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <section id="sidebar">
        <a href="" class="brand">
            <i class='bx bxs-smile'><img src="{{ url_for('static', filename='herbs_icon01.png') }}" class="icon-mini" alt="Menu Icon"></i>
			<span class="text">Mongo</span>
		</a>
		<ul class="side-menu top">
			<li>
				<a href="">
					<i class='bx bxs-dashboard' ><img src="{{ url_for('static', filename='dashboard.png') }}" class="icon-mini" alt="Menu Icon"></i>
					<span class="text">แดชบอร์ด</span>
				</a>
			</li>
            <li>
				<a href="{{ url_for('manage_members') }}">
					<i class='bx bxs-shopping-bag-alt' ><img src="{{ url_for('static', filename='group.png') }}" class="icon-mini" alt="Menu Icon"></i>
					<span class="text">จัดการสมาชิก</span>
				</a>
			</li>
			<li>
				<a href="{{ url_for('manage_herbals') }}">
					<i class='bx bxs-shopping-bag-alt' ><img src="{{ url_for('static', filename='leaf_01.png') }}" class="icon-mini" alt="Menu Icon"></i>
					<span class="text">จัดการยาสมุนไพร</span>
				</a>
			</li>
			<li>
				<a href="{{ url_for('manage_medicines') }}">
					<i class='bx bxs-doughnut-chart' ><img src="{{ url_for('static', filename='medicine.png') }}" class="icon-mini" alt="Menu Icon"></i>
					<span class="text">จัดการข้อมูลยา</span>
				</a>
			</li>
			<li class="active">
				<a href="{{ url_for('manage_chrosymps') }}">
					<i class='bx bxs-doughnut-chart' ><img src="{{ url_for('static', filename='prevent.png') }}" class="icon-mini" alt="Menu Icon"></i>
					<span class="text">จัดการข้อมูลโรคและอาการ</span>
				</a>
			</li>
            <li>
				<a href="{{ url_for('manage_allergys') }}">
					<i class='bx bxs-doughnut-chart' ><img src="{{ url_for('static', filename='no-milk.png') }}" class="icon-mini" alt="Menu Icon"></i>
					<span class="text">จัดการข้อมูลการแพ้</span>
				</a>
			</li>
            <li>
				<a href="{{ url_for('manage_trains') }}">
					<i class='bx bxs-doughnut-chart' ><img src="{{ url_for('static', filename='database.png') }}" class="icon-mini" alt="Menu Icon"></i>
					<span class="text">จัดการข้อมูล Training</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">
			<li>
				<a href="{{ url_for('logout') }}" class="logout">
					<i class='bx bxs-log-out-circle' ><img src="{{ url_for('static', filename='logout.png') }}" class="icon-mini" alt="Menu Icon"></i>
					<span class="text">ออกจากระบบ</span>
				</a>
			</li>
		</ul>

    </section>




    <section id="content">
<!-- NAVBAR -->
<nav>
    <!-- เมนูไอคอนอยู่ชิดซ้าย -->
    <i class='bx bx-menu'>
        <img src="{{ url_for('static', filename='menu-regular-24.png') }}" alt="Menu Icon">
    </i>
  
    <!-- โปรไฟล์ไอคอนอยู่ชิดขวา -->
    <a href="" class="profile">
        <img src="{{ url_for('static', filename='user_admin.png') }}">
    </a>
  </nav>
<!-- NAVBAR -->

<!-- MAIN -->
<main>
    <div class="head-title">
        <div class="left">
            <h1>ข้อมูลโรคและอาการ</h1>          
        </div>
    </div>


    <div class="table-data">
        <div class="order">
            <a href="" class="back" style="display: flex; align-items: center; justify-content: right;">
            </a>
            <div class="head">
                <h1>โรค(ประจำตัว)</h1>
            </div>

            <table>
                <thead>
                    <tr>
                        <th>รหัส</th>
                        <th>ชื่อโรค/อาการ</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for chronic in chronics %}
                    <tr>
                        <td>{{ chronic['cn_id'] }}</td>
                        <td>{{ chronic['cn_name'] }}</td>
                        <td>
                            <a href="">แก้ไข</a>
                            <form action="{{ url_for('delete_chronic', chronic_id=chronic['_id']) }}" method="POST" style="display:inline;">
                                <button type="submit">ลบ</button>
                            </form> 
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="2">ไม่พบข้อมูล</td>
                    </tr>
                    {% endfor %}
                </tbody>
                
            </table>
            <br>
            <form action="{{ url_for('add_chronic') }}" method="POST">
                <label for="cn_name">ชื่อโรค/อาการ</label>
                <input type="text" id="cn_name" name="cn_name" required>
                <button type="submit">เพิ่ม</button>
            </form>
        
    </div>

    <div class="table-data">
        <div class="order">
            <a href="" class="back" style="display: flex; align-items: center; justify-content: right;">
            </a>
            <div class="head">
                <h1>โรคและอาการต่าง ๆ</h1>
              
            </div>
            
            <table>
                <thead>
                    <tr>
                        <th>รหัส</th>
                        <th>ชื่อโรค/อาการ</th>
                        <th></th>   
                    </tr>
                </thead>
                <tbody>
                    {% for symptom in symptoms %}
                    <tr>
                        <td>{{ symptom['st_id'] }}</td>
                        <td>{{ symptom['st_name'] }}</td>
                        <td>
                            <a href="">แก้ไข</a>
                            <form action="{{ url_for('delete_symptom', symptom_id=symptom['_id']) }}" method="POST" style="display:inline;" onsubmit="return confirmDelete()">
                                <button type="submit">ลบ</button>
                            </form> 
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="2">ไม่พบข้อมูล</td>
                    </tr>
                    {% endfor %}
                </tbody>
                
            </table>
            <br>
            <form action="{{ url_for('add_symptom') }}" method="POST">
                <label for="st_name">ชื่อโรค/อาการ</label>
                <input type="text" id="st_name" name="st_name" required>
                <button type="submit">เพิ่ม</button>
            </form>
        
    </div>



</main>
<!-- MAIN -->

    </section>


    <script>
        function confirmDelete() {
            return confirm("คุณแน่ใจหรือไม่ว่าต้องการลบข้อมูลนี้?");
        }
        
    </script>       
              
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
