<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='leafe_oo.png') }}" type="image/png">
	<script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <title>แดชบอร์ด</title>
</head> 
<body>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-overlay alert-{{ category }} hidden">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <section id="sidebar">
        <a href="{{ url_for('dashboard') }}" class="brand">
            <i class='bx bxs-smile'><img src="{{ url_for('static', filename='herbs_icon01.png') }}" class="icon-mini" alt="Menu Icon"></i>
			<span class="text">Herbit</span>
		</a>
		<ul class="side-menu top">
			<li class="active">
				<a href="{{ url_for('dashboard') }}">
					<i class='bx bxs-dashboard' ><img src="{{ url_for('static', filename='dashboard.png') }}" class="icon-mini" alt="Menu Icon"></i>
					<span class="text">แดชบอร์ด</span>
				</a>
			</li>
			<li>
				<a href="{{ url_for('profile', user_id=current_user.id) }}">
					<i class='bx bxs-shopping-bag-alt' ><img src="{{ url_for('static', filename='health-report.png') }}" class="icon-mini" alt="Menu Icon"></i>
					<span class="text">โปรไฟล์</span>
				</a>
			</li>
			<li>
				<a href="">
					<i class='bx bxs-message-dots' ><img src="{{ url_for('static', filename='medical.png') }}" class="icon-mini" alt="Menu Icon"></i>
					<span class="text">วิเคราะห์ยาสมุนไพร</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">
			<li>
				<a href="{{ url_for('logout') }}" class="logout">
					<i class='bx bxs-log-out-circle' ><img src="{{ url_for('static', filename='logout.png') }}" class="icon-mini" alt="Menu Icon"></i>
					<span class="text">ออกจากระบบ</span>
				</a>
			</li>
		</ul>

    </section>


    <section id="content">
<!-- NAVBAR -->
<nav>
    <!-- เมนูไอคอนอยู่ชิดซ้าย -->
    <i class='bx bx-menu'>
        <img src="{{ url_for('static', filename='menu-regular-24.png') }}" alt="Menu Icon">
    </i>

    <div class="marquee-container">
        <div class="marquee">
            <p style="color: rgb(161, 193, 226);">เป็นเพียงการให้ความรู้เกี่ยวกับยาสมุนไพร โดยอ้างอิงข้อมูลจาก NLEM:บัญชียาหลักแห่งชาติ (ฉบับที่ 2) พ.ศ. 2555 ประกาศ ณ วันที่ 21 สิงหาคม พ.ศ. 2555 เท่านั้น ไม่ใช่การรักษาโรคแต่อย่างใด หากป่วยควรพบแพทย์ผู้เชี่ยวชาญเพื่อรับการรักษาต่อไป</p>
        </div>
    </div>
  
    <!-- โปรไฟล์ไอคอนอยู่ชิดขวา -->
    <a href="{{ url_for('profile', user_id=current_user.id) }}" class="profile">
        <img src="{{ url_for('static', filename='user.png') }}">
    </a>
  </nav>
<!-- NAVBAR -->

<!-- MAIN -->
<main>
    <div class="head-title">
        <div class="left">
            <h1>แดชบอร์ด</h1>
            <ul class="breadcrumb">
                <!-- <li>
                    <a href="{{ url_for('dashboard') }}">หน้าหลัก</a>
                </li> -->

            </ul>
        </div>

    </div>

    <ul class="box-info">
        <li style="background-color: rgb(47, 54, 144);">
            <span class="text">
                <h3 style="color: white;">ดัชนีมวลกาย</h3>
                <p style="color: white;">{{ bmi_result|safe }}</p>
            </span>
        </li>   
        <li style="background-color: rgb(47, 54, 144);">
            <span class="text">
                <h3 style="color: white;">การดื่มน้ำ</h3>
                <p style="color: white;">{{ water_result|safe }}</p>
            </span>
        </li>
        <li style="background-color: rgb(47, 54, 144);">
            <span class="text">
                <h3 style="color: white;">การพักผ่อน</h3>
                <p style="color: white;">{{ sleep_result|safe }}</p>
            </span>
        </li>
    </ul>

    <div class="table-data">
        <div class="order">
            <div class="head">
                <h3>ข้อมูลสุขภาพ</h3>
                <i class='bx bx-search' ></i>
                <i class='bx bx-filter' ></i>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>รายการ</th>
                        <th>ประเภท</th>
                    </tr>
                </thead>
                <tbody>
                    {% for chronic in chronics %}
                    <tr>
                        <td>
                            <p>{{ chronic['cn_name'] }}</p>
                        <td><span class="status completed">โรคประจำตัว</span></td>
                    </tr>
                    {% else %}
                    {% endfor %}

                    {% for medicine in medicines %}
                    <tr>
                        <td>
                            <p>{{ medicine['md_nameEN'] }} - {{ medicine['md_nameTH'] }}</p>
                        </td>
                        <td><span class="status process">ยาที่ใช้</span></td>
                    </tr>
                    {% else %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="todo">
            <div class="head">
                <h3>ข้อมูลการแพ้</h3>
                <i class='bx bx-plus' ></i>
                <i class='bx bx-filter' ></i>
            </div>
            <ul class="todo-list">
                {% for allergy in allergys %}
                <li class="not-completed">
                    <p>{{ allergy['ag_name'] }}</p>
                    <i class='bx bx-dots-vertical-rounded' ></i>
                </li>
                {% else %}
                <li class="completed">
                    <p>ไม่มีข้อมูลการแพ้</p>
                    <i class='bx bx-dots-vertical-rounded' ></i>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    
</main>
<!-- MAIN -->

    </section>


    <script>
        
    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
