<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='leafe_oo.png') }}" type="image/png">
	<script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <title>แดชบอร์ดสมาชิก</title>
</head> 
<body>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-overlay alert-{{ category }} hidden">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <section id="sidebar">
        <a href="" class="brand">
            <i class='bx bxs-smile'><img src="{{ url_for('static', filename='herbs_icon01.png') }}" class="icon-mini" alt="Menu Icon"></i>
			<span class="text">Mongo</span>
		</a>
		<ul class="side-menu top">
			<li class="active">
				<a href="{{ url_for('dashboard') }}">
					<i class='bx bxs-dashboard' ><img src="{{ url_for('static', filename='dashboard.png') }}" class="icon-mini" alt="Menu Icon"></i>
					<span class="text">แดชบอร์ด</span>
				</a>
			</li>
			<li>
				<a href="{{ url_for('profile', user_id=current_user.id) }}">
					<i class='bx bxs-shopping-bag-alt' ><img src="{{ url_for('static', filename='health-report.png') }}" class="icon-mini" alt="Menu Icon"></i>
					<span class="text">โปรไฟล์</span>
				</a>
			</li>
			<li>
				<a href="">
					<i class='bx bxs-message-dots' ><img src="{{ url_for('static', filename='medical.png') }}" class="icon-mini" alt="Menu Icon"></i>
					<span class="text">วิเคราะห์ยาสมุนไพร</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">
			<li>
				<a href="{{ url_for('logout') }}" class="logout">
					<i class='bx bxs-log-out-circle' ><img src="{{ url_for('static', filename='logout.png') }}" class="icon-mini" alt="Menu Icon"></i>
					<span class="text">ออกจากระบบ</span>
				</a>
			</li>
		</ul>

    </section>


    <section id="content">
<!-- NAVBAR -->
<nav>
    <!-- เมนูไอคอนอยู่ชิดซ้าย -->
    <i class='bx bx-menu'>
        <img src="{{ url_for('static', filename='menu-regular-24.png') }}" alt="Menu Icon">
    </i>
  
    <!-- โปรไฟล์ไอคอนอยู่ชิดขวา -->
    <a href="{{ url_for('profile', user_id=current_user.id) }}" class="profile">
        <img src="{{ url_for('static', filename='user.png') }}">
    </a>
  </nav>
<!-- NAVBAR -->

<!-- MAIN -->
<main>
    <div class="head-title">
        <div class="left">
            <h1>แดชบอร์ดสมาชิก (ทดสอบ)</h1>
            <ul class="breadcrumb">
                <!-- <li>
                    <a href="{{ url_for('dashboard') }}">หน้าหลัก</a>
                </li> -->

            </ul>
        </div>

    </div>

    <ul class="box-info">
        <li>
            <i class='bx' ></i>
            <span class="text">
                <h3>ดัชนีมวลกาย</h3>
                <p>{{ bmi_result|safe }}</p>
            </span>
        </li>
        <li>
            <i class='bx' ></i>
            <span class="text">
                <h3>ปริมาณการดื่มน้ำ</h3>
                <p>xx</p>
            </span>
        </li>
        <li>
            <i class='bx' ></i>
            <span class="text">
                <h3>ปริมาณการพักผ่อน</h3>
                <p>xx</p>
            </span>
        </li>
    </ul>

    
</main>
<!-- MAIN -->

    </section>


    <script>
        
    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
