<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <title>ข้อมูลยาสมุนไพร</title>
</head> 
<body>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-overlay alert-{{ category }} hidden">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <section id="sidebar">
        <a href="" class="brand">
            <i class='bx bxs-smile'><img src="{{ url_for('static', filename='herbs_icon01.png') }}" class="icon-mini" alt="Menu Icon"></i>
			<span class="text">Mongo</span>
		</a>
		<ul class="side-menu top">
			<li>
				<a href="">
					<i class='bx bxs-dashboard' ><img src="{{ url_for('static', filename='dashboard.png') }}" class="icon-mini" alt="Menu Icon"></i>
					<span class="text">แดชบอร์ด</span>
				</a>
			</li>
            <li class="active">
				<a href="{{ url_for('manage_members') }}">
					<i class='bx bxs-shopping-bag-alt' ><img src="{{ url_for('static', filename='group.png') }}" class="icon-mini" alt="Menu Icon"></i>
					<span class="text">จัดการสมาชิก</span>
				</a>
			</li>
			<li>
				<a href="{{ url_for('manage_herbals') }}">
					<i class='bx bxs-shopping-bag-alt' ><img src="{{ url_for('static', filename='leaf_01.png') }}" class="icon-mini" alt="Menu Icon"></i>
					<span class="text">จัดการยาสมุนไพร</span>
				</a>
			</li>
			<li>
				<a href="{{ url_for('manage_medicines') }}">
					<i class='bx bxs-doughnut-chart' ><img src="{{ url_for('static', filename='medicine.png') }}" class="icon-mini" alt="Menu Icon"></i>
					<span class="text">จัดการข้อมูลยา</span>
				</a>
			</li>
			<li>
				<a href="{{ url_for('manage_chrosymps') }}">
					<i class='bx bxs-doughnut-chart' ><img src="{{ url_for('static', filename='prevent.png') }}" class="icon-mini" alt="Menu Icon"></i>
					<span class="text">จัดการข้อมูลโรคและอาการ</span>
				</a>
			</li>
            <li>
				<a href="{{ url_for('manage_allergys') }}">
					<i class='bx bxs-doughnut-chart' ><img src="{{ url_for('static', filename='no-milk.png') }}" class="icon-mini" alt="Menu Icon"></i>
					<span class="text">จัดการข้อมูลการแพ้</span>
				</a>
			</li>
            <li>
				<a href="{{ url_for('manage_trains') }}">
					<i class='bx bxs-doughnut-chart' ><img src="{{ url_for('static', filename='database.png') }}" class="icon-mini" alt="Menu Icon"></i>
					<span class="text">จัดการข้อมูล Training</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">
			<li>
				<a href="{{ url_for('logout') }}" class="logout">
					<i class='bx bxs-log-out-circle' ><img src="{{ url_for('static', filename='logout.png') }}" class="icon-mini" alt="Menu Icon"></i>
					<span class="text">ออกจากระบบ</span>
				</a>
			</li>
		</ul>

    </section>




    <section id="content">
<!-- NAVBAR -->
<nav>
    <!-- เมนูไอคอนอยู่ชิดซ้าย -->
    <i class='bx bx-menu'>
        <img src="{{ url_for('static', filename='menu-regular-24.png') }}" alt="Menu Icon">
    </i>
  
    <!-- โปรไฟล์ไอคอนอยู่ชิดขวา -->
    <a href="{{ url_for('manage_members') }}" class="profile">
        <img src="{{ url_for('static', filename='user_admin.png') }}">
    </a>
  </nav>
<!-- NAVBAR -->

<!-- MAIN -->
<main>
    <div class="head-title">
        <div class="left">
            <h1>ข้อมูลสมาชิก</h1>          
        </div>
    </div>

    <div class="table-data">

        <div class="order">
            
                <table>
                    <tr>
                        <td>
                            <label>ชื่อผู้ใช้</label>
                        </td>
                        <td>
                            {{ user['username'] }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>อีเมล</label>
                        </td>
                        <td>
                            {{ user['email'] }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>ชื่อ-นามสกุล</label>
                        </td>
                        <td>
                            {{ user['fname'] }} {{ user['lname'] }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>เพศ</label>
                        </td>
                        <td>
                            {{ gender_name }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>อายุ</label>
                        </td>
                        <td>
                            {{ age }}
                        </td>
                    </tr>
                 
                    <tr class="FemaleField" style="display: none;">
                        <td>
                            <img src="{{ url_for('static', filename='pregnant_4370507.png') }}" class="icon-mini" alt="Menu Icon">
                        </td>
                        <td>
                            {{ pregnant_name }}
                        </td>
                    </tr>
                    <tr class="FemaleField" style="display: none;">
                        <td>
                            <img src="{{ url_for('static', filename='breastfeeding.png') }}" class="icon-mini" alt="Menu Icon">
                        </td>
                        <td>
                            {{ breastfeeding_name }}
                        </td>
                    </tr>
                
                </table><br>

            
            <br>
        </div>

        <div class="order">

            <!-- แสดงโรคประจำตัวที่เลือกไว้แล้ว -->
            <div class="selected-list">
                <table class="chronicTable">
                    <thead>
                        <tr><th>โรคประจำตัว</th></tr>
                    </thead>
                    <tbody id="selectedChronicsList">
                        {% for chronic in chronics %}
                            <tr data-value="{{ chronic['cn_id'] }}">
                                <td>{{ chronic['cn_id'] }} - {{ chronic['cn_name'] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div><br>
        
            <!-- แสดงยาที่ใช้ที่เลือกไว้แล้ว -->
            <div class="selected-list">
                <table class="medicineTable">
                    <thead>
                        <tr><th>ยาที่ใช้</th></tr>
                    </thead>
                    <tbody id="selectedMedicinesList">
                        {% for medicine in medicines %}
                            <tr data-value="{{ medicine['md_id'] }}">
                                <td>{{ medicine['md_id'] }} - {{ medicine['md_name'] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div><br>
        
            <!-- แสดงข้อมูลการแพ้ที่เลือกไว้แล้ว -->
            <div class="selected-list">
                <table class="allergyTable">
                    <thead>
                        <tr><th>ข้อมูลการแพ้</th></tr>
                    </thead>
                    <tbody id="selectedAllergysList">
                        {% for allergy in allergys %}
                            <tr data-value="{{ allergy['ag_id'] }}">
                                <td>{{ allergy['ag_id'] }} - {{ allergy['ag_name'] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        
        </div>        

    </div>
    



</main>
<!-- MAIN -->

    </section>


    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var genderName = "{{ gender_name }}";
            var femaleFields = document.querySelectorAll('.FemaleField');

            if (genderName === "หญิง") {
                femaleFields.forEach(function(field) {
                    field.style.display = "table-row";
                });
            } else {
                femaleFields.forEach(function(field) {
                    field.style.display = "none";
                });
            }
        });
        

    </script>       
              
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
